body > * {
    text-align: center;
}

#content {
    margin: auto;
}

#eyes {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:100px;
}

.eye {
	display: grid;
    grid-template-columns: 1fr;
}

.whites {
	background-color: white;
    width:180px;
    height:250px;
    border-radius:120px;
    grid-area: 1 / 1;
}

.pupil {
    width: 90px;
    height: 90px;
    background-color: black;
    border-radius: 90px;
    position: relative;
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    grid-area: 1 / 1;
}

@keyframes animation {
    0%   {left:30px;}
    25%  {left:60px;}
    50%  {left:60px;}
    75%  {left:30px;}
    100% {left:30px;}
}
