{% extends "common.html" %}

{% block aboutId %}id="current_link"{% endblock %}

{% block body %}
<div id="content">
	<div class="topic">
		<h2>Who are we?</h2>
		<p>We are two students from Dr. Gomes' 268 Web Development course. We wanted to make a website for people who want to eat or cook noodles in Eau Claire, or for anybody who wanted to learn more about the history of noodles.</p>
	</div>
	<div class="topic">
		<h2>Why noodles?</h2>
		<p>As most noodles are just a combination of something like flour and water, they are usually very inexpensive and simple dishes (although toppings and sides can add complexity and cost). A basic noodle dish is not only cost effective and tasty, but there are plenty of different styles with different flavors and textures.</p>
	</div>
	<div class="topic">
		<h2>Connor</h2>
		<p>I am a CS major with good experience in Physics. Although I like most types of noodles, the only kind I am able to make here is a bowl of ramen with fried chilli paste, seasonings, and occasionally green onion.</p>
	</div>
	<div class="topic">
		<h2>Zach</h2>
		<p>I am also a CS major. I enjoy eating pasta and different types of noodles, particularly spaghetti with meatballs and ramen noodles. I also wanted to learn some more about Eau Claire restaurants that offered noodles, which gave us some passion for this site.</p>
	</div>
	<div class="topic">
		<h2>Have a question, comment, or want to report an issue?</h2>
		<p><a href="{{url_for('contactus')}}">click here!</a></p>
	</div>
</div>
{% endblock %}
