{% extends "common.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'contact_us_style.css')}}"/>
{% endblock %}

{% block contactId %}id="current_link"{% endblock %}

{% block body %}
<div id="content">
	<div id="description">
		<h1>Have a question? Notice any errors? Let us know!</h1>
		<p>This website isn't finished, so let us know how to make it better!</p>
		{% if invalid %}
		<h4 style="margin:0">One of your fields was invalid. Input was not added to the database.</h4>
		{% endif %}
	</div>
	<form action="{{ url_for('contactus') }}" method="POST">
		<div>
			<input type="text" name="name" placeholder="Name" />
		</div>
		<div>
			<input type="text" name="email" placeholder="Email" />
		</div>
		<div>
			<select name="problem">
				<option value="" disabled selected hidden>What is the problem?</option>
				<option value="question">Question</option>
				<option value="bug">Report a bug</option>
				<option value="information">Advice/incorrect information</option>
			</select>
		</div>
		<div>
			<textarea id="explaination" name="description" placeholder="Give a short description of the problem."></textarea>
		</div>
		<div>
			<input class="form_button" type="submit" name="submit" value="Submit">
			<input class="form_button" type="reset" name="reset" value="Reset">
		</div>
	</form>
</div>

{% endblock %}
