{% extends "common.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'form_style.css')}}"/>
{% endblock %}

{% block body %}
<div id="content">
	<h1 class="top_text">Fun noodle facts!</h1>
	<div class="topic">
		<h2>Random Fact!</h2>
		{% for row in fact %}
			<p>Did you know? <b>{{ row["fact"] }}</b></p>
			<p style="padding-left: 20px;">Submitted by {{ row["name"] }}</p>
		{% endfor %}
	</div>
	<div class="topic">
		<h2>Add a fun fact!</h2>
		<p>Please send in a fun fact that you found! Go wild! It doesn't have to be noodles just fill that database if you want!</p>
		<form action="{{ url_for('funfacts') }}" method="POST">
			<div>
				<input type="text" name="name" placeholder="name" />
			</div>
			<div>
				<input type="text" name="fact" placeholder="fun fact"/>
			</div>
			<div>
				<input type="submit" name="submit" class="form_button"/>
			</div>
			<br>
			{% if invalid %}
			<h4>One of your fields was blank. Input was not added to the database.</h4>
			{% endif %}
		</form>
	</div>
	<h1 class="top_text">Our fun facts</h1>
	<div class="topic">
		<h2>The word noodle</h2>
		<p>The word noodle derives from the German word nudel, which means "dumpling" in German.</p>
	</div>
	<div class="topic">
		<h2>National noodle day</h2>
		<p>October 6th is National Noodle day in the United States of America. This day is honored by many on sites such as Instagram by using the tag #NationalNoodleDay</p>
	</div>
	<div class="topic">
		<h2>Instant noodles luxurious past</h2>
		<p>Instant noodles nowadays are staple foods of college students and inexpensive dining, but they were once in fact a luxury item in the early ages.</p>
	</div>
	<div class="topic">
		<h2>Space noodles?</h2>
		<p>The first type of noodle to ever be consumed in space was Top Ramen, by the astronaut Soichi Noguchi in 2005.</p>
	</div>
	<div class="topic">
		<h2>Noodle etiquette</h2>
		<p>In Japan, slurping your noodles is actually not seen in poor taste. It means that you were thoroughly enjoying your appreciation for the host and the deliciousness of the meal.</p>
	</div>
</div>

{% endblock %}
