{% extends "common.html" %}

{% block body %}
<div id="content">
	<h1 class="top_text">Fun noodle facts!</h1>
	<div class="topic">
		<h2>The word noodle</h2>
		<p>The word noodle derives from the German word nudel, which means "dumpling" in German.</p>
	</div>
	<div class="topic">
		<h2>National noodle day</h2>
		<p>October 6th is National Noodle day in the United States of America. This day is honored by many on sites such as Instagram by using the tag #NationalNoodleDay</p>
	</div>
	<div class="topic">
		<h2>Instant noodles luxurious past</h2>
		<p>Instant noodles nowadays are staple foods of college students and inexpensive dining, but they were once in fact a luxury item in the early ages.</p>
	</div>
	<div class="topic">
		<h2>Space noodles?</h2>
		<p>The first type of noodle to ever be consumed in space was Top Ramen, by the astronaut Soichi Noguchi in 2005.</p>
	</div>
	<div class="topic">
		<h2>Noodle etiquette</h2>
		<p>In Japan, slurping your noodles is actually not seen in poor taste. It means that you were thoroughly enjoying your appreciation for the host and the deliciousness of the meal.</p>
	</div>
</div>

{% endblock %}
