{% extends "common.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'history_style.css')}}"/>
{% endblock %}

{% block historyId %}id="current_link"{% endblock %}

{% block body %}
<div id="content">
	<div id="main">
		<h1 class="top_text">The history of noodles</h1>
		<div class="topic" id="description">
			<h2>What Are Noodles?</h2>
			<p>Noodles are a type of food made from unleavened dough which is rolled flat and cut, stretched or extruded, into long strips or strings. Noodles can be refrigerated for short-term storage or dried and stored for future use.</p>
		</div>
		<div class="topic" id="source">
			<h2>Where did they come from?</h2>
			<p>These days, noodles can be found all around the world, and they have been around for a long time. This makes it somewhat difficult to figure out where exactly they came from.</p>
			<div class="subtopic">
				<h3>China</h3>
				<p>In china, the first time that noodles are referenced in known literature is a book from 25-220 CE. Noodles became a staple food during the Han Dynasty.</p>
				<p>In 2005, a group of Chinese archaeologists discovered a bowl that contained the remains of noodles that would be over 4000 years old. Although they resembled Lamian (a type of Chinese noodle), it is disputed because the millet used to create them doesn't contain the gluten necessary to make noodles as we know them today.</p>
			</div>
			<div class="subtopic">
				<h3>Mediterranean Countries</h3>
				<p>Food historians say that pasta likely originated in the Mediterranean countries. A greek physician named Galen describes a blend of water and flour called Itrion (which is very similar to what we would call pasta).</p>
			</div>
		</div>
		<div class="topic" id="spread">
			<h2>Where did they spread?</h2>
			<p>Over time, these noodles made their way around Asia and Europe. Many new forms of noodles began appearing.</p>
			<div class="subtopic">
				<h3>Mediterranean Countries</h3>
				<p>Food historians say that pasta likely originated in the Mediterranean countries. A greek physician named Galen describes a blend of water and flour called Itrion (which is very similar to what we would call pasta).</p>

				<h3>East Asia</h3>
				<p>Wheat noodles, also referred to as udon, was adapted from an early 9th century Chinese recipe. Ramen noodles also became common in this region by the year 1900</p>

				<h3>Europe</h3>
				<p>In the first century BCE, noodles were reported in Europe as Horace wrote about sheets of dough called lagana. Many other variations were continually reported about in Europe earlier than one may expect.</p>

				<h3>Central Asia</h3>
				<p>The Turkish people reported eating Kesme/Resteh noodles as early as the 13th century.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
