{% extends "common.html" %}

{% block body %}
<div id="content">
	<div class="topic">
		<h2>What is this site?</h2>
		<p>This site is designed to let anybody learn more about the history of noodle-based dishes as well as some recipes to make popular noodle dishes. This website also provides resources to learn about restaurants local to the Eau Claire, Wisconsin region and where they are located.</p>
	</div>

	<div class="topic">
		<h2>Restaurants</h2>
		<p><a href="{{url_for('restaurants')}}">This</a> page includes 4 various locations that specialize in noodle dishes around Eau Claire. These restaurants vary in the cultures the noodles come from, as well as their average 5 star ratings and their addresses.</p>
	</div>

	<div class="topic">
		<h2>Homemade</h2>
		<p><a href="{{url_for('homemade')}}">This</a> page provides the reader with a way to learn how to make some homemade noodle dishes if they are not interested in eating out. Three different types of noodle dishes as well as their ingredients and instructions to cook can be found here.</p>
	</div>

	<div class="topic">
			<h2>History</h2>
			<p><a href="{{url_for('history')}}">This</a> nifty page contains a lot of information about the historical origins of noodles, and information about what exactly noodles are and where they ended up spreading to.</p>
	</div>

	<div class="topic">
		<h2>Noodle fun facts</h2>
		<p><a href="{{url_for('funfacts')}}">This</a> page will tell you some fun facts about noodles.</p>
	</div>

	<div class="topic">
		<h2>About</h2>
		<p><a href="{{url_for('about')}}">This</a> page will simply tell you more about us and who we are, as well as a contact form if you have any issues found on the sties, or have questions about what we are doing.</p>
	</div>
</div>

{% endblock %}
