{% extends "common.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'restaurant_style.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'form_style.css')}}"/>
{% endblock %}

{% block restId %}id="current_link"{% endblock %}

{% block body %}
<div id="container">
	<div id="content">
		<h1>Restaurants that sell noodles in Eau Claire</h1>
		<p>This page contains popular noodle stops in the city of Eau Claire, Wisconsin.</p>
		<div class="restaurant_table">

			<div class="restaurant_container">
				<a href="https://www.noodlewrap.com/index.html"><h2>Noodlewrap</h2></a>
				<img src="{{url_for('static', filename = 'noodlewrap.jpg')}}" alt="An image of the Noodle Wrap restaurant.">
				<p><a href="https://www.google.com/maps/place/3021+Mall+Dr+STE+1,+Eau+Claire,+WI+54701/@44.7882095,-91.4590091,19z/data=!4m5!3m4!1s0x87f8bc6b8e4c9e0f:0x6e664fa6f58536cd!8m2!3d44.7881773!4d-91.4584793">Address: 3021 Mall Dr STE 1, Eau Claire, WI 54701</a></p>
				<ul>
					<li>Located in the Oakwood Mall</li>
					<li>Hmong cuisine</li>
					<li>4 out of 5 stars</li>
				</ul>
			</div>

			<div class="restaurant_container">
				<a href="https://eatstreet.com/eauclaire-wi/restaurants/rice-palace"><h2>Rice Palace</h2></a>
				<img src="{{url_for('static', filename = 'ricepalace.jpg')}}" alt="An image of the Rice Palace restaurant.">
				<p><a href="https://www.google.com/maps/place/Rice+Palace/@44.8112394,-91.5020974,17z/data=!3m2!4b1!5s0x87f8bd0d16f4bf9b:0xe26754492a6ea7bc!4m5!3m4!1s0x87f8bd0d115a63c7:0x224c4642ed1418ff!8m2!3d44.8112356!4d-91.4999087">Address: 210 S Barstow St, Eau Claire, WI 54701</a></p>
				<ul>
					<li>Flexible menu</li>
					<li>Authentic Thai cuisine</li>
					<li>4.3 out of 5 stars</li>
				</ul>
			</div>


			<div class="restaurant_container">
				<a href="https://eatstreet.com/eauclaire-wi/restaurants/noodle-teahouse-2161-eastridge-center-st"><h2>Noodle Teahouse</h2></a>
				<img src="{{url_for('static', filename = 'noodleteahouse.jpg')}}" alt="An image of the Noodle Teahouse restaurant.">
				<p><a href="https://www.google.com/maps/place/Noodle+Teahouse/@44.8062674,-91.4711514,17z/data=!3m1!4b1!4m5!3m4!1s0x87f8bcf6fa281c67:0x1a25ca662ccacbfe!8m2!3d44.8062636!4d-91.4689627">Address: 2161 Eastridge Center St, Eau Claire, WI 54701</a></p>
				<ul>
					<li>Pho/Vietnamese cuisine</li>
					<li>3.9 out of 5 stars</li>
				</ul>
			</div>

			<div class="restaurant_container">
				<a href="https://www.quickwokeauclaire.com/"><h2>Quick Wok</h2></a>
				<img src="{{url_for('static', filename = 'quickwok.jpg')}}" alt="An image of the Quick Wok restaurant.">
				<p><a href="https://www.google.com/maps/place/Quick+Wok/@44.80193,-91.5121636,17z/data=!3m1!4b1!4m5!3m4!1s0x87f8bd9d6bb20e85:0x3e5ae013d66b8cca!8m2!3d44.8019262!4d-91.5099749">Address: 501 Water St #5632, Eau Claire, WI 54703</a></p>
				<ul>
					<li>Located on Water Street</li>
					<li>Take out, can order online</li>
					<li>3.5 out of 5 stars</li>
				</ul>
			</div>
		</div>
		<h1 style="text-align: center;">Send us the name of a restaurant you like and its address/website! If we like we may put it on our list</h1>
		<form action="{{ url_for('restaurants') }}" method="POST">
				<div>
					<input type="text" name="email" placeholder="Your email"/>
				</div>
				<div>
					<input type="text" name="name" placeholder="Name of restaurant"/>
				</div>
				<div>
					<input type="text" name="fact" placeholder="Address/website"/>
				</div>
				<div>
					<input type="submit" name="submit" class="form_button"/>
				</div>
				<br>
				{% if invalid %}
				<h4 style="margin:0">One of your fields was blank. Input was not added to the database.</h4>
				{% endif %}
		</form>
	</div>
</div>

{% endblock %}