<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>Soup Noodle Dishes</title>
		<link rel="shortcut icon" type="image/jpg" href="https://flyclipart.com/thumb2/chinese-noodles-royalty-free-vector-clip-art-illustration-87670.png"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/recipe_style.css"/>

	</head>
	<body>

		<div id="header">
			<h1 id="welcome">NoodlEau-Claire: All you need to know about noodles in Eau Claire!</h1>
		</div>

		<div id="navbar">
			<a class="navbar_link" style="margin-left:0px;" href="index.html">Home</a>
			<a class="navbar_link" href="restaurants.html">Restaurants</a>
			<a class="navbar_link" href="homemade.html">Homemade</a>
			<a class="navbar_link" href="history.html">History</a>
			<a class="navbar_link" href="about.html">About</a>
		</div>

		<div id="page_welcome">
			<img id="page_welcome_image" src="https://cdn.ucdintegrativemedicine.com/uploads/GarlicTomatoSpaghetti_wp-header.jpg" alt="A bowl of spaghetti on a wooden table.">
			<div id="page_welcome_text">
				<h1 id="page_welcome_header">NoodlEau-Claire</h1>
				<h2 id="page_welcome_subheader">Eau-Claire's noodles</h2>
			</div>
		</div>

		<div id="content">
			<h1 class="top_text">Soup Noodle Dishes</h1>
			<div class="topic">
				<h2>Better Ramen</h2>
				<p>The most common form of japanese ramen is instant ramen, using either a cup or package. Although this isn't exactly a recipe, the instant ramen can be improved with this easy guide.</p>
			</div>
			<div class="recipe_container">
				<h2 class="recipe_header">Instant Ramen Upgrade</h2>
				<div class="recipe_block">
					<h2>Notes:</h2>
					<p>You can find the recipe <a href="https://www.budgetbytes.com/6-ways-to-upgrade-instant-ramen/" target="_blank">here</a>.</p>
					<p>Check out the guide instead of the recipe if you just want some tips.</p>
				</div>
				<div class="recipe_block">
					<h2>Information:</h2>
					<p>This is a guide as well as a recipe. If you want to improve your meal, even just one tip would. It takes a total of <b>10 minutes</b> to make, and it gives <b>1-2 servings</b>.</p>
					<p>Their recipe is pretty far down on their page.</p>
					<p>The broth could be exchanged for another broth - it doesn't have to be vegetable broth.</p>
				</div>
				<div class="recipe_block">
					<h2>Key Ingredients:</h2>
					<p><b>1</b> pack instant ramen</p>
					<p><b>1</b> cup vegetable broth</p>
					<p><b>1</b> cup water</p>
					<p>many small, optional additions</p>
				</div>
			</div>
			<div class="topic">
				<h2>Pho</h2>
				<p>Pho is a vietnamese noodle soup with meat and vegetables. This recipe simplifies the well known restaurant version.</p>
			</div>
			<div class="recipe_container">
				<h2 class="recipe_header">Simple Pho</h2>
				<div class="recipe_block">
					<h2>Notes:</h2>
					<p>You can find the recipe <a href="https://www.gimmesomeoven.com/pho-recipe/" target="_blank">here</a>.</p>
					<p>The protien can be swapped for other options.</p>
				</div>
				<div class="recipe_block">
					<h2>Information:</h2>
					<p>This recipe lists a lot of different customizeable parts, and even has support for a vegan recipe. It takes <b>1 hour and 15 minutes</b> to make, and it gives <b>2-4 servings</b>.</p>
					<p>The yield is 2 large bowls, or 4 medium sized bowls.</p>
					<p>Pho broth has a lot of ingredients, and will be a majority of the effort for this recipe.</p>
				</div>
				<div class="recipe_block">
					<h2>Key Ingredients:</h2>
					<p>steak, chicken, pork, or shrimp</p>
					<p>thin rice noodles</p>
					<p>pho broth</p>
					<p>various toppings</p>
				</div>
			</div>
		</div>

		<div id="footer">
			<p>A website made by Connor and Zach for a CS 268 Project</p>
			<p id="validated">
				<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px"
				src="http://jigsaw.w3.org/css-validator/images/vcss"
				alt="Valid CSS!" />
				</a>
			</p>
		</div>

	</body>
</html>


